@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 300;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 700;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 900;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-weight: 300;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-weight: 400;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-weight: 500;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-weight: 700;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Rubik';
   font-style: italic;
   font-weight: 900;
   src: url('file:///C:/wamp64/www/site_cv_mb//fonts/Rubik/900italic.ttf') format('truetype');
}
